html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: inherit;
  width: inherit;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-form {
  display: inline-block;
  vertical-align: bottom;
  margin-top: 10px;

  &__input {
    display: block;
  }

  &__input,
  &__checkbox {
    margin-bottom: 20px;
  }

  &__answer {
    display: block;

    &--hidden {
      color: white;
    }

    &:hover {
      color: black;
    }
  }
}